.activites-card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    h3 {
        padding: 20px;
        font-size: 16px;
        font-weight: bold;
    }
}

.activites-cover {
    height: 380px;
    background-position: center;
    background-size: cover;
    border-radius: 20px 20px 0 0;
}

@media screen and (max-width: 768px) {
    .activites-card {
        grid-column: 1;
    }
    .activites-cover {
        height: 141px;
    }
}