@use 'index';

section {
    width: 95%;
    margin: 0 auto;
}

.slogan {
    h1 {
        margin-bottom: 8px;
        font-size: 22px;
        font-weight: bold;
    }
    p {
        font-size: 16px;
    }
    
}

.location-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 49px;
    padding: 15px;
    background-color: index.$second-grey;
    border-radius: 15px 0 0 15px;
}

.form {
    display: flex;
    height: 49px;
    margin: 35px 0;
}

.search {
    padding: 14px;
    border: none;
    border: 1px solid index.$second-grey;
    outline-offset: -1px;
    color: black;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: bold;
}

.submit {
    padding: 15px;
    border: none;
    color: white;
    background-color: index.$primary;
    border-radius: 0 15px 15px 0;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.submit-mobile {
    display: none;
    padding: 15px;
    border: none;
    color: white;
    background-color: index.$primary;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 34px;
    margin-bottom: 38px;
    h2 {
        font-size: 18px;
        font-weight: bold;
    }
}

.filter {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border-radius: 25px;
    border: 2px solid index.$secondary;
    &:hover {
        background-color: index.$second-blue;
        cursor: pointer;
    }
    h3 {
        font-size: 17px;
        font-weight: bold;
    }
}

.available {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 15px;
    color: index.$primary;
    border-radius: 24px;
    border: 1px solid index.$secondary;
}

.icon {
    width: 22px;
    color: index.$primary;
}

@media screen and (max-width: 768px) {
    section {
        margin-top: 77px;
    }
    .search {
        width: 90%;
    }
    .submit {
        display: none;
    }
    .submit-mobile {
        display: block;
    }
    .filters h2 {
        width: 100%;
    }
}