.section-activites {
    display: grid;
    grid-template-rows: 30px 1fr;
    grid-template-columns: repeat(4, 298px);
    grid-gap: 30px;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto 65px auto;
    h2 {
        grid-column: 1 / 5;
    }
}

@media screen and (max-width: 768px) {
    .section-activites {
        grid-template-rows: 25px 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        h2 {
            grid-column: 1;
        }
    }
    
}