* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}

@font-face {
	font-family: 'Raleway';
	src: url(assets/Raleway/Raleway-Regular.ttf);
}

@font-face {
	font-family: 'Raleway-Light';
	src: url(assets/Raleway/Raleway-Light.ttf);
}

body {
	max-width: 1400px;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 22px;
	font-weight: 700;
} 

h2 {
	font-size: 18px;
	font-weight: 700;
} 

h3 { 
	font-size: 17px;
	font-weight: 700; 
}

h4 {
	font-size: 16px;
	font-weight: 700;
}

p { 
	font-size: 14px;
	font-weight: 400;
}


/* HEADER */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95%;
	margin: auto;
}

.booki {
	width: 61px;
	cursor: pointer;
}

.menu {
	display: flex;
}

.menu li {
    padding: 50px 25px;
    border-top: 2px solid transparent;
    margin: 0px 20px 0px 20px;
}

.menu li:hover {
    border-color: #0468fd;
}

.menu li a {
	font-size: 16px;
	font-weight: 500;
    color: black;
}

.menu li:hover a {
    color: #0468fd;
}


/*SLOGAN*/
.slogan {
	display: flex;
	flex-direction: column;
	width: 95%;
	margin: 10px auto 20px auto;
}

.slogan h1 {
	margin-bottom: 10px; 
}

.slogan p, .available p {
	font-size: 16px;
}


/* FORMULAIRE */
.div-form {
	width: 95%;
	margin: auto;
}

.form {
	display: inline-flex;
	overflow: hidden;
}

.form input {
	height: 49px;
	padding: 15px;
	font-size: 18px;
	font-family: 'Raleway';
}

.location {
	width: 50px;
	padding: 15px;
	text-align: center;
	background-color: #d9d9d9;
	border-radius: 15px 0 0 15px;
}

.search {
	border-left: none;
	border-right: none;
	border-top: #d9d9d9 1px solid ;
	border-bottom: #d9d9d9 1px solid ;
	outline-offset: -2px;
	font-weight: 700;
	color: black;
}

.submit {
	font-weight: 700;
	color: white;
	background-color: #0468fd;
	border: none;
	border-radius: 0 15px 15px 0;
}

.submit:hover { 
	cursor: pointer;
}

.submit-mobile {
	display: none;
	width: 50px;
	padding: 15px;
	text-align: center;
	color: white;
	background-color: #0468fd;
	border-radius: 0 15px 15px 0;
	border: 0;
}


/* FILTRES & INFO */
.filters {
	display: flex;
	align-items: baseline;
	gap: 55px;
	width: 95%;
	margin: 45px auto;
}

.filters h3 { 
	margin-left: 10px;
}

.filters i {
	color: #0468fd;
}

.eco, .familial, .romantic, .animals {
	display: flex;
	padding: 10px;
	border: 2px solid #d9d9d9;
	border-radius: 20px;
}

.eco:hover, .familial:hover, .romantic:hover, .animals:hover {
	background-color: #deebff;
	cursor: pointer;
	transform: scale(1.1);
	transition: 0.2s;
}

.available {
	display: flex;
	align-items: center;
	width: 95%;
	margin: 40px auto;
	line-height: 19px;
}

.info {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	padding: 15px;
	margin-right: 20px;
	border: 1px solid #d9d9d9;
	border-radius: 100%;
	color: #0468fd;
}


/* SECTION - POPULAIRE */
.accomodations-marseille {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	width: 95%;
	margin: 0 auto;
}

.popular-section {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 32%;
	padding: 37px;
	background-color: #f2f2f2;
	border-radius: 10px;
}

.popular-title {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.popular-trend {
	margin-left: 15px;
	color: #0468fd;
}

.popular-container {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.popular-container a {
	width: 100%;
}

.popular-item {
	display: flex;
	color: black;
	background-color: white;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 0 0 15px grey;
}

.popular-item:hover, .accomodations-item:hover, .activities-item:hover {
	transform: scale(0.9);
	transition: 0.3s;
	cursor: pointer;
}

.popular-item img {
	width: 45%;
	height: 144px;
	border-radius: 20px 0 0 20px;
	object-fit: cover;
}

.popular-desc {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80%;
	padding: 15px;
}

.popular-desc h4 {
	margin-bottom: 7px;
}

.stars { 
	color: #0468fd;
	margin-top: auto;
}

.section-title {
	font-size: 22px;
	font-weight: 700;
}


/* HEBERGEMENTS */
.accomodations-section {
	width: 66%;
	padding: 40px;
	background-color: #f2f2f2;
	border-radius: 20px;
}

.accomodations-section h2 {
	margin: 0 0 23px 10px;
}

.accomodations-section h2:last-child {
	margin: 40px 0 0 10px;
}

.accomodations-section h2:last-child:hover {
	cursor: pointer;
	text-decoration: underline;
}

.accomodations-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 25px;
}

.accomodations-container a {
	width: 30%;
}

.accomodations-item {
	height: 100%;
	background-color: white;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 0 0 15px grey;
}

.accomodations-item .card-img img {
	width: 100%;
	height: 124px;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
}

.accomodations-desc {
	display: flex;
	flex-direction: column;
	padding: 10px;
	color: black;
}

.accomodations-desc h4, .accomodations-desc p {
	margin-bottom: 7px;
}


/* ACTIVITES */
.activities-marseille {
	width: 95%;
	margin: 60px auto;
}

.activities-marseille h2 { 
	margin: 15px 10px;
}

.activities-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.activities-container a {
	width: 22%;
}

.activities-item {
	height: 100%;
	border-radius: 20px;
	box-shadow: 0 0 5px grey;
}

.activities-item h4 {
	padding: 15px;
	color: black;
}

.activities-item .card-img img {
	width: 100%;
	height: 389px;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
}


/* FOOTER */
.footer {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	width: 95%;
	margin: 0 auto;
	padding: 30px 0;
	background-color: #f2f2f2;
}

.footer h2 {
	margin-bottom: 20px;
}

.footer p {
	margin-top: 10px;
	font-size: 16px;
}

.footer p:hover {
	cursor: pointer;
	text-decoration: underline;
}


/* RESPONSIVE - TABLETTE */
@media screen and (max-width: 992px) {
	h2 {
		font-size: 16px;
	}

	h4 {
		font-size: 14px;
	}

	p {
		font-size: 13px;
	}

	nav {
		width: 40%;
	}

	.filters {
		flex-wrap: wrap;
		gap: 40px;
	}

	.accomodations-marseille {
		flex-direction: column-reverse;
	}

	.popular-section {
		width: 100%;
		margin: 0 auto;
	}
	
	.popular-container {
		flex-direction: row;
		gap: 20px;
	}

	.popular-desc {
		padding: 8px;
	}

	.accomodations-section {
		width: 100%;
		margin: 0 auto 50px auto;
	}

	.stars {
		font-size: smaller;
	}

	.activities-item {
		height: 267px;
	}
	
	.activities-item .card-img img {
		height: 211px;
	}
}


/* MOBILE */
@media screen and (max-width: 768px) {
	h2, h4 {
		font-size: 19px;
	}

	p {
		font-size: 16px;
	}

	.header {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.booki {
		margin-top: 20px;
	}

	nav {
		width: 100%;
	}

	.menu li {
	border-top: none;
	border-bottom: 3px solid transparent;
	margin: 0 auto;
	width: 50%;
	text-align: center;
	}

	.slogan {
		margin: 30px auto;
	}

	.form {
		width: 100%;
	}

	.form input {
		padding: 0 0 0 15px;
	}

	.form input[placeholder] {
		width: 90%;
	}

	.submit {
		display: none;
	}

	.submit-mobile {
		display: initial;
	}

	.filters {
		gap: 50px;
	}

	.filters h2 {
		width: inherit;
	}

	.available {
		align-items: baseline;
	}

	.accomodations-marseille{
		flex-direction: column;
		width: 100%;
	}

	.popular-section {
		padding: 21px;
		border-radius: 0;
	}

	.popular-container {
		flex-direction: column;
		flex-wrap: wrap;
	}

	.popular-item {
		width: 100%;
		margin: 0 auto;
	}

	.popular-desc {
		gap: 0;
	}

	.accomodations-section {
		width: 100%;
		padding: 0;
		margin: 0;
		background-color: white;
		border-radius: 0;
	}

	.accomodations-section h2 {
		margin: 30px 0 20px 30px;
	}

	.accomodations-section h2:last-child {
		display: none;
	}

	.accomodations-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.accomodations-container a {
		width: 90%;
	}

	.activities-container {
		flex-direction: column;
		align-items: center;
		gap: 24px;
	}

	.activities-container a {
		width: 95%;
	}

	.activities-item {
		height: 100%;
	}

	.activities-item .card-img img {
		height: 134px;
	}

	.footer {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.about, .accomodation, .assistance {
		margin: 40px 30px;
	}
}

