@mixin grid($grid-rows, $grid-columns, $width) {
    display: grid;
    grid-template-rows: $grid-rows;
    grid-template-columns: $grid-columns;
    grid-gap: 30px;
    width: $width;
    padding: 30px;
    background-color: index.$second-grey;
    border-radius: 15px;
}

@mixin flex($direction: column, $justify: space-between) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin card {
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}