.activites-card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    cursor: pointer;
    h3 {
        font-size: 16px;
        font-weight: bold;
    }
    &:hover {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    }
}

.activites-cover {
    height: 380px;
    background-position: center;
    background-size: cover;
    border-radius: 20px 20px 0 0;
}

.activites-title {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
}

@media screen and (max-width: 992px) {
    .activites-cover {
        height: 200px;
    }
    .activites-title {
        height: 70px;
    }
}

@media screen and (max-width: 768px) {
    .activites-card {
        grid-column: 1;
    }
    .activites-cover {
        height: 141px;
    }
    .activites-title {
        height: 60px;
    }
}